/* style.css */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 1em 4em 1em 4em;
    padding: 1em;
}

.btn {
    margin-left: 1em;
}

p {
    margin: 1em 0 1.5em 1em;
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0.75em 0 0.5em 0;
    color: var(--info);
}

img {
    margin: 0.75em;
}

.bio-margin {
    margin-top: 1.5em;
    margin-bottom: 3em;
}

footer {
    margin-top: 1em;
}

.copyright {
    margin: 0;
    padding: 1em;
    background: silver;
}

.dark {
    background: rgb(90, 105, 109);
    color: white;
}

.feedback-container {
    background: rgb(173, 227, 231);
    margin: 2em 0;
    display: flex;
    align-items: center;
}

.feedback-text {
    flex: 0 1 1;
    padding: 0.5em;
    margin: 0 auto;
}

.feedback-header {
    font-size: 2rem;
}

.feedback-instructions {
    margin: 0 0 1.2em 0;
}

form {
    padding: 5em;
    background: rgb(173, 227, 231);
}

.feedback-form-btn {
    margin: 0;
}

.bg-success {
    opacity: 0.75;
}

.bg-warning {
    opacity: 0.75;
}