/* style.css */

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    margin: 1em 4em 1em 4em;
    padding: 0;
}

/* ul {
    margin: 1em;
    list-style: none;
} */

.btn {
    margin-left: 1em;
}

p {
    margin: 1em 0 1.5em 1em;
}

h1, h2, h3 {
    font-family: 'Fjalla One', sans-serif;
    margin: 0.5em;
}

img {
    margin: 0.75em;
}

.fun-facts {
    margin: 3em;
    padding: 3em;
    width: 50%;
}

.card-1 {
    margin-bottom: 1em;
}

footer {
    margin-top: 1em;
}

.copyright {
    margin: 0;
    padding: 1em;
    background: silver;
}

.pink {
    background: #ff9999;
}

.aqua {
    background: aqua;
}

/* .dark {
    background: grey;
} */